body {
    background-color: #F5F5F5; 
    font-family: Inter, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

img {
    width: 229px; 
    height: 200px;
    margin-top: 50px;       
    margin-bottom: 20px;    
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 20px 0 30px 0;
    text-shadow:4px 4px 4px rgba(0, 0, 0, 0.3);
}

.prostokat {
    width: 470px;
    height: 579px;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.napisyInputa {
    width: 357px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 6px; 
}

.napisyInputa label {
    font-size: 26px;
    margin: 0;
    padding: 0;
    line-height: 1; 
    
}

input[type="email"],
input[type="password"] {
    width: 100%;
    height: 65px;
    font-size: 26px;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0;
    display: block;
}

button {
    border-radius: 10px;
    background-color: #5976D3;
    width: 360px;
    height: 80px;
    cursor: pointer;
    font-size: 26px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin-top: auto;      
    margin-bottom: 20px;   
}
